<!DOCTYPE html>
<html>
  <head>
    <title>"record-set demo"</title>
    <script src='../platform/platform.js'></script>
    <link href='../polymer/polymer.html' rel='import'>
    <link href='record-set.html' rel='import'>
  </head>
  <style>
    body {
      font-family: monospace;
    }
  </style>
  <body>
    <polymer-element attributes='label' extends='record-base' name='my-record' noscript type='my-record'></polymer-element>
    <polymer-element extends='my-record' name='my-record-view'>
      <template>
        <li>
          {{type}}: {{rid}} -> {{label}}
          <a hidden?='{{noautoload == undefined}}' href='#' id='reload'>Reload</a>
          <a href='#' id='delete'>Delete</a>
        </li>
      </template>
      <script>
        (function() {
          Polymer('my-record-view', {
            ready: function() {
              this.load();
              this.$.reload.addEventListener("click", (function(_this) {
                return function(e) {
                  e.preventDefault();
                  e.returnValue = false;
                  if (_this.$.set.href != null) {
                    return _this.loadRemote();
                  } else {
                    return _this.load();
                  }
                };
              })(this));
              return this.$["delete"].addEventListener("click", (function(_this) {
                return function(e) {
                  e.preventDefault();
                  e.returnValue = false;
                  if (_this.$.set.href != null) {
                    return _this.deleteRemote();
                  } else {
                    return _this["delete"]();
                  }
                };
              })(this));
            }
          });
        
        }).call(this);
      </script>
    </polymer-element>
    <polymer-element name='demo-app'>
      <template>
        <record-set id='data'></record-set>
        <my-record id='x'></my-record>
        <p>
          REST endpoint URL
          <b hidden?='{{!$.data.href}}'>currently connected to {{$.data.href}}</b>
          <b hidden?='{{$.data.href}}'>currently using local DB</b>
          <input id='rest' type='text' value='http://localhost:9998'>
          <a hidden?="{{$.rest.value == ''}}" href='#' id='restConnectClick'>Connect</a>
          <a hidden?="{{$.data.href == ''}}" href='#' id='noRest'>Use local database only (a.k.a. disconnect)</a>
        </p>
        <p>
          set label to
          <input id='labelField' type='text'>
          <a hidden?='{{$.x.all.length == 0}}' href='#' id='labelFieldEditClick'>Change 1st record</a>
          <a href='#' id='labelFieldCreateClick'>Create new record</a>
        </p>
        <h3>autoloading</h3>
        <ul>
          <template repeat='{{$.x.all}}'>
            <my-record-view rid='{{}}'></my-record-view>
          </template>
        </ul>
        <h3>noautoloading</h3>
        <ul>
          <template repeat='{{$.x.all}}'>
            <my-record-view noautoload rid='{{}}'></my-record-view>
          </template>
        </ul>
        <h3>nesting</h3>
        <my-record id='parent' rid='1'></my-record>
        <my-record id='child' parent='{{$.parent}}' rid='nested1'></my-record>
        <p hidden?='{{$.child.label == undefined}}'>{{$.child.label}} all: {{$.child.all}}</p>
        <my-record id='parent2' rid='2'></my-record>
        <my-record id='child2' parent='{{$.parent2}}' rid='nested2'></my-record>
        <p hidden?='{{$.child2.label == undefined}}'>{{$.child2.label}} all: {{$.child2.all}}</p>
      </template>
      <script>
        (function() {
          Polymer('demo-app', {
            ready: function() {
              this.$.restConnectClick.addEventListener("click", (function(_this) {
                return function(e) {
                  e.preventDefault();
                  e.returnValue = false;
                  _this.$.data.href = _this.$.rest.value;
                  return _this.async(function() {
                    _this.$.data.clear();
                    _this.$.x.pull();
                    _this.$.child.loadRemote();
                    return _this.$.child2.loadRemote();
                  });
                };
              })(this));
              this.$.noRest.addEventListener("click", (function(_this) {
                return function(e) {
                  e.preventDefault();
                  e.returnValue = false;
                  _this.$.data.href = void 0;
                  _this.$.data.clear();
                  _this.$.x.rid = void 0;
                  _this.$.x.label = "record #1";
                  _this.$.x.save();
                  _this.$.x.rid = void 0;
                  _this.$.x.label = "record #2";
                  return _this.$.x.save();
                };
              })(this));
              this.$.labelFieldEditClick.addEventListener("click", (function(_this) {
                return function(e) {
                  e.preventDefault();
                  e.returnValue = false;
                  _this.$.x.rid = _this.$.x.all[0];
                  _this.$.x.label = _this.$.labelField.value;
                  if (_this.$.data.href != null) {
                    return _this.$.x.saveRemote();
                  } else {
                    return _this.$.x.save();
                  }
                };
              })(this));
              this.$.labelFieldCreateClick.addEventListener("click", (function(_this) {
                return function(e) {
                  e.preventDefault();
                  e.returnValue = false;
                  _this.$.x.rid = void 0;
                  _this.$.x.label = _this.$.labelField.value;
                  if (_this.$.data.href != null) {
                    return _this.$.x.createRemote();
                  } else {
                    return _this.$.x.save();
                  }
                };
              })(this));
              this.$.child.loadRemote();
              return console.log("ready");
            }
          });
        
        }).call(this);
      </script>
    </polymer-element>
    <demo-app></demo-app>
  </body>
</html>
