!!! 5
%html
  %head
    %title "record-set demo"
    %script(src="../platform/platform.js")
    %link(rel="import" href="../polymer/polymer.html")
    %link(rel="import" href="record-set.html")
  %body
    %polymer-element(name="my-record" extends="record-base" type="test" attributes="label" noscript)
    %polymer-element(name="my-record-view" extends="my-record")
      %template
        %li 
          {{type}}: {{rid}} -> {{label}}
          %a(href="javascript:void(0)" id="a") Delete
      :coffeescript
        Polymer 'my-record-view',
          ready: () ->
            @$.a.addEventListener "click", () =>
              @delete()
              false
    %polymer-element(name="demo-app")
      %template
        %record-set(id="data")

        %my-record(id="x" persist rid="1" label="test")
        %my-record(id="y" persist rid="2" label="test2")

        %ul
          %template(repeat="{{$.y.all}}")
            %my-record-view(rid="{{}}")

      :coffeescript
        Polymer 'demo-app',
          ready: () -> 
            console.log "ready"
    %demo-app
