!!! 5
%html
  %head
    %title "record-set demo"
    %script(src="../platform/platform.js")
    %link(rel="import" href="../polymer/polymer.html")
    %link(rel="import" href="record-set.html")
  :css
    body {
      font-family: monospace;
    }
  %body
    %polymer-element(name="my-record" extends="record-base" type="my-record" attributes="label" noscript)
    %polymer-element(name="my-record-view" extends="my-record")
      %template
        %li 
          {{type}}: {{rid}} -> {{label}}
          %a{href:"#", id:"reload", "hidden?"=>"{{noautoload == undefined}}"} Reload
          %a(href="#" id="delete") Delete
      :coffeescript
        Polymer 'my-record-view',
          ready: () ->
            @load()
            @$.reload.addEventListener "click", (e) =>
              e.preventDefault()
              e.returnValue = false
              if @$.set.href?
                @loadRemote()
              else
                @load()
            @$.delete.addEventListener "click", (e) =>
              e.preventDefault()
              e.returnValue = false
              if @$.set.href?
                @deleteRemote()
              else
                @delete()
    %polymer-element(name="demo-app")
      %template
        %record-set(id="data")

        -# will now be loaded via rest
          %my-record(id="x" persist rid="1" label="test")
          %my-record(id="y" persist rid="2" label="test2")
        %my-record(id="x")

        %p
          REST endpoint URL
          %b{"hidden?"=>"{{!$.data.href}}"} currently connected to {{$.data.href}}
          %b{"hidden?"=>"{{$.data.href}}"} currently using local DB
          %input(id="rest" type="text" value="http://localhost:9998")
          %a{href:"#", id:"restConnectClick", "hidden?"=>"{{$.rest.value == ''}}"} Connect
          %a{href:"#", id:"noRest", "hidden?"=>"{{$.data.href == ''}}"} Use local database only (a.k.a. disconnect)
        %p
          set label to
          %input(id="labelField" type="text")
          %a{href:"#", id:"labelFieldEditClick", "hidden?"=>"{{$.x.all.length == 0}}"} Change 1st record
          %a(href="#" id="labelFieldCreateClick") Create new record
           
        %h3 autoloading
        %ul
          %template(repeat="{{$.x.all}}")
            %my-record-view(rid="{{}}")

        %h3 noautoloading
        %ul
          %template(repeat="{{$.x.all}}")
            %my-record-view(rid="{{}}" noautoload)

      :coffeescript
        Polymer 'demo-app',
          ready: () ->
            @$.restConnectClick.addEventListener "click", (e) =>
              e.preventDefault()
              e.returnValue = false
              @$.data.href = @$.rest.value
              this.async () => 
                @$.data.clear()
                @$.x.pull()

            @$.noRest.addEventListener "click", (e) =>
              e.preventDefault()
              e.returnValue = false
              @$.data.href = undefined
              @$.data.clear()
              @$.x.rid = undefined
              @$.x.label = "record #1"
              @$.x.save()
              @$.x.rid = undefined
              @$.x.label = "record #2"
              @$.x.save()

            @$.labelFieldEditClick.addEventListener "click", (e) =>
              e.preventDefault()
              e.returnValue = false
              @$.x.rid = @$.x.all[0]
              @$.x.label = @$.labelField.value
              if @$.data.href?
                @$.x.saveRemote()
              else
                @$.x.save()

            @$.labelFieldCreateClick.addEventListener "click", (e) =>
              e.preventDefault()
              e.returnValue = false
              @$.x.rid = undefined
              @$.x.label = @$.labelField.value
              if @$.data.href?
                @$.x.createRemote()
              else
                @$.x.save()

            console.log "ready"
    %demo-app
