!!! 5
%html
  %head
    %title "record-set demo"
    %script(src="../platform/platform.js")
    %link(rel="import" href="../polymer/polymer.html")
    %link(rel="import" href="record-set.html")
  %body
    %polymer-element(name="my-record" extends="record-base" type="my-record" attributes="label" noscript)
    %polymer-element(name="my-record-view" extends="my-record")
      %template
        %li 
          {{type}}: {{rid}} -> {{label}}
          %a{href:"#", id:"reload", "hidden?"=>"{{noautoload == undefined}}"} Reload
          %a(href="#" id="delete") Delete
      :coffeescript
        Polymer 'my-record-view',
          ready: () ->
            @load()
            @$.reload.addEventListener "click", (e) =>
              e.preventDefault()
              e.returnValue = false
              @load()
            @$.delete.addEventListener "click", (e) =>
              e.preventDefault()
              e.returnValue = false
              @delete()
    %polymer-element(name="demo-app")
      %template
        %record-set(id="data" href="http://localhost:9998")

        -# will now be loaded via rest
          %my-record(id="x" persist rid="1" label="test")
          %my-record(id="y" persist rid="2" label="test2")
        %my-record(id="x")

        %p
          set label to
          %input(id="labelField" type="text")
          %a{href:"#", id:"labelFieldEditClick", "hidden?"=>"{{$.x.all.length == 0}}"} Change 1st record
          %a(href="#" id="labelFieldCreateClick") Create new record
           
        %h3 autoloading
        %ul
          %template(repeat="{{$.x.all}}")
            %my-record-view(rid="{{}}")

        %h3 noautoloading
        %ul
          %template(repeat="{{$.x.all}}")
            %my-record-view(rid="{{}}" noautoload)

      :coffeescript
        Polymer 'demo-app',
          ready: () ->
            @$.x.pull()
            @$.labelFieldEditClick.addEventListener "click", (e) =>
              e.preventDefault()
              e.returnValue = false
              @$.x.rid = @$.x.all[0]
              @$.x.label = @$.labelField.value
              @$.x.saveRemote()
            @$.labelFieldCreateClick.addEventListener "click", (e) =>
              e.preventDefault()
              e.returnValue = false
              @$.x.rid = undefined
              @$.x.label = @$.labelField.value
              @$.x.createRemote()
            console.log "ready"
    %demo-app
