!!! 5
%html
  %head
    %title "record-set demo"
    %script(src="../platform/platform.js")
    %link(rel="import" href="../polymer/polymer.html")
    %link(rel="import" href="record-set.html")
  %body
    %polymer-element(name="demo-app")
      %template
        %record-set(id="data" records="{{records}}")

        %record-single(id="x" type="test" label="test")

        %ul
          %template(repeat="{{record in $.data.records}}")
            %li {{record.type}} {{record.label}}
      :coffeescript
        Polymer
          ready: () ->
            @$.x.save()
    %demo-app
