!!! 5
%html
  %head
    %title "record-set demo"
    %script(src="../platform/platform.js")
    %link(rel="import" href="../polymer/polymer.html")
    %link(rel="import" href="record-set.html")
  %body
    %polymer-element(name="my-record" extends="record-base" attributes="label" noscript)
    %polymer-element(name="demo-app")
      %template
        %record-set(id="data" records="{{records}}")

        %my-record(id="x" rid="1" label="test")
        %my-record(id="y" rid="2" label="test2")

        %ul
          %template(repeat="{{record in $.x.all}}")
            %li {{record.type}}: {{record.rid}} -> {{record.label}}

      :coffeescript
        Polymer 'demo-app'
          #ready: () -> 
          #  @$.x.save()
    %demo-app
