!!! 5

%link(rel="import" href="../polymer/polymer.html")

%polymer-element(name="record-set")
  %template
  :coffeescript
    data = {}
    fields = {}
    
    getFields = (record) -> 
      return fields[record.tagName] if fields[record.tagName]?

      p = HTMLElement.getPrototypeForTag record.tagName
      loop
        throw "not a record: " + record.tagName unless p.element.extends?
        break if p.element.extends == "record-base"
        p = HTMLElement.getPrototypeForTag p.element.extends
      k for own k,v of p.publish # rid is excluded
    
    Polymer
      _data: undefined
      computed:
        all: '_extractRecords(_data)'
      ready: () ->
        @_data = data
      save: (record) ->
        @_data[record.type] = { records: {}, next: 1 } unless @_data[record.type]?
        r = @_data[record.type].records[record.rid]
        r = {} unless r?
        r.rid = @_data[record.type].next++ unless r.rid?
        @_data[record.type].records[r.rid] = r
        for k in getFields record
          r[k] = record[k]
      load: (record) ->
        if @_data[record.type]? and @_data[record.type].records[record.rid]?
          for k,v of @_data[record.type].records[record.rid]
            record[k] = v unless k == "rid"
      _extractRecords: (data) ->
        new ->
          @[type] = (record.rid for id,record of value.records) for type,value of data
          @

%polymer-element(name="record-base" attributes="rid persist type")
  %template
    %record-set(id="set")
  :coffeescript
    Polymer
      rid: undefined,
      observe: {
        '$.set._data': 'load' # TODO: overkill ! use fine grained events
      }
      computed:
        #type: '_lc(tagName)' # todo auto detection of type name
        all: '$.set.all[type]'
      ready: () ->
        @save() if @persist?
        @load() if @rid?
      save: () ->
        @$.set.save @ 
      load: () ->
        @$.set.load @
      _lc: (s) -> s.toLowerCase()

