!!! 5

%link(rel="import" href="../polymer/polymer.html")

%polymer-element(name="record-set" attributes="records")
  %template
  :coffeescript
    data = {}
    Polymer
      _data: undefined
      computed:
        all: '_extractRecords(_data)'
      ready: () ->
        @_data = data
      save: (type, record) ->
        @_data[type] = { records: {}, next: 1 } unless @_data[type]?
        @_data[type].records[@_data[type].next] = record
        @_data[type].next++
      _extractRecords: (data) ->
        new ->
          @[type] = (record for id,record of value.records) for type,value of data
          @

%polymer-element(name="record-base" attributes="rid")
  %template
    %record-set(id="set")
  :coffeescript
    Polymer
      rid: undefined,
      computed:
        type: '_lc(tagName)'
        all: '$.set.all[type]'
      ready: () ->
        @save() if @rid?
      save: () ->
        console.log "test"
        @$.set.save @type, this
      _lc: (s) -> s.toLowerCase()
